# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual Environments
.env
.venv
env/
venv/

# Testing & Coverage
.cache
.pytest_cache/
.coverage
htmlcov/

# IDEs & Editors
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db
desktop.ini
